<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title><TMPL_VAR head_title></title>
        
        
        <link href="/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        
        <script src="/js/admin/jquery-3.4.1.js"  crossorigin="anonymous"></script>
        <script src="/bootstrap-4.3.1-dist/js/bootstrap.bundle.js"  crossorigin="anonymous"></script>
        
        <!--script src="/js/vue.js" crossorigin="anonymous"></script-->
        <script src="/js/admin/jquery.twbsPagination.js" crossorigin="anonymous"></script>
        
        <script src="/jBox/jBox.all.min.js"></script>
        <link href="/jBox/jBox.all.min.css" rel="stylesheet">
        
        <script src="/js/admin/admin.default.js" crossorigin="anonymous"></script>
        
    </head>
<body>

<TMPL_VAR main>

</body>
</html>
